.cardImg{
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.ideaForm{

width: 40vw;
} 
/* 

.logo{
  display: flex;
  flex-direction: row;
 
  justify-content: space-evenly;
} */

/* .logoImage{
 height: 300px;
 min-width: 200px;
 flex-grow: calc(50);
} */

.ideasContainer{

    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  width: 50vw;
  height: 50vh;
}

.ideasMainContainer{
   
    display: flex;  
    flex-direction: row;
   
    width: auto;
   
    
} /* main container for Ideacards */

.completedIdeas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 50vw;
    height: 50vh;
    
}
.IdeaListTitle{
  color:  #c5c6c7;
 
}

.ideaForm{
  color:  #c5c6c7 
}

.mainCard{
 
  margin: 1em;
  background-color:  #c5c6c7;
}

